:root {
    --primary: coral;
}

body {
    background: #fff;
}

/* form-control */
.form-control {
    border-color: transparent;
}
.form-control:focus {
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* buttons */
.btn.btn-primary {
    background-color: var(--primary);
    color: #111;
    border: none;
    overflow: hidden;
}

.btn.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--primary);
}

/* title */
.section-title-wrapper {
    background: #111;
}

.section-title-wrapper .section-title {
    color: whitesmoke;
    font-size: 1.25rem;
}

@media (min-width: 1024px) {
    .section-title-wrapper .section-title {
        font-size: 1.75rem;
    }
}

/* inputs */
.input-group-text {
    background: transparent;
    border: none;
    border-bottom: 1px solid #111;
    border-radius: 0;
}

input.form-control,
input.form-control:focus {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #111;
    border-radius: 0;
}

/* todo task */
.todo-task-wrapper {
    height: 300px;
    overflow-y: scroll;
}

/* input group */
.todo-task-wrapper .input-group:before {
    content: "";
    z-index: 101;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
}

/* input group animation */
.todo-task-wrapper .input-group.hide:before {
    background: #fff;
    height: 100%;
}

.todo-task-wrapper .input-group.hide input {
    color: var(--primary);
    border-bottom: 1px dotted #111;
}

.todo-task-wrapper .input-group.up:before {
    top: 0;
    height: 0;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}

.todo-task-wrapper .input-group.down:before {
    bottom: 0;
    height: 0;
    -webkit-transition:.25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}

/* input group prepend */
.todo-task-wrapper .input-group .input-group-prepend {
    position: relative;
    overflow: hidden;
}

.todo-task-wrapper .input-group .input-group-prepend input {
    position: relative;
}

.todo-task-wrapper .input-group .input-group-prepend:before {
    content: "";
    position: absolute;
    left: 0;
    margin-left: -1px;
    width: 0;
    height: 0;
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
    border-top: 38px solid var(--primary);
}

/* input group prepend animation */
.todo-task-wrapper .input-group.hide .input-group-prepend {
    background: #111;
}

.todo-task-wrapper .input-group.hide .input-group-prepend .input-group-text {
    border-bottom: 1px dotted #111;
}

/* up and down buttons */
.todo-task-wrapper .input-group .btn-up,
.todo-task-wrapper .input-group .btn-down {
    margin-right: 2px;
}

.todo-task-wrapper .input-group .btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-top: 28px solid transparent;
}

/* up and down buttons animation */
.todo-task-wrapper .input-group.hide .btn-primary {
    background: #111;
    color: #fff;
}

.todo-task-wrapper .input-group.hide .btn-primary:hover {
    color: #fff;
}

.todo-task-wrapper .input-group.hide .btn-primary:before {
    border-top-color: var(--primary);
}

/* theme select */
.theme-select-wrapper {
    overflow: hidden;
    position: relative;
    width: 110px;
}
/* theme-select animation */
.menu-container select.theme-select {
    position: absolute;
    right: -100%;
    top: 0;
    -webkit-transition:.25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}

.menu-container.show-theme select.theme-select {
    right: 0;
}

/* menu-buttons */
.menu-container .menu-buttons-wrapper {
    min-width: 70px;
}

.menu-container .open-theme-btn,
.menu-container .add-task-btn {
    box-shadow: none;
    position: relative;
}

.menu-container .open-theme-btn,
.menu-container .add-task-btn {
    height: 29px;
    width: 29px;
}
.menu-container .open-theme-btn:before {
    width: 21px;
    height: 21px;
    content: "<";
    text-align: center;
    position: absolute;
    left: 4px;
    top: 4px;
}
/* button-theme animation */
.menu-container .open-theme-btn:before {
    -webkit-transition:.25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}
.menu-container.show-theme .open-theme-btn:before {
    transform: rotate(180deg);
}
